@page
@model Basic.Pages.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>About</h1>

<p>Hej! Jag heter Charlotte. Vad finns det mer att säga om mig?</p>
<p>Jag gillar att skriva kod. Därför försöker jag nu lära mig ASP.NET med C#. Jag hoppas att det går vägen, så att jag kan skapa ännu coolare webbsidor.</p>
<p>Jag är 24 år, bor i Stockholm men önskar att jag bodde i London. Kanske en dag, om det här med programmering går vägen för mig...</p>