@page
@model Basic.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
}

<img src="~/cat.png" id="catPic" alt="Cat" />

<h1 id="firstHead">Den här sidan handlar inte om katter...</h1>

<h2 id="secondHead">...men de är ju rätt söta, så denna katt fick pryda min startsida.</h2>

<h1 id="thirdHead">Katten som är här på stora skärmar verkar ha sprungit bort!</h1>

<h2 id="fourthHead">Logga in via en stor skärm så kanske katten kommer tillbaka.</h2>